[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
jupyter = "*"
seaborn = "*"
matplotlib = "*"
pytest = "*"
flake8 = "*"

[packages]
pandas = "*"
scipy = "*"
sklearn = "*"
numpy = "*"
flask = "*"
flask-httpauth = "*"
patsy = "*"

[requires]
python_version = "3.6"
